
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
!.gitignore
__pycache__
!.ebignore
!.env
sponsor-tracks.csv
.env
venv
/.idea/.gitignore
/.idea/aws.xml
/.idea/misc.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/vcs.xml
.idea
diagrams/
