{% extends "base.html" %}

{% block title %}About Us{% endblock %}
{% block header_title %}About Us{% endblock %}
{% block tab4 %}<li class="active">{% endblock %}

{% block content %}
	<!-- Post -->
		<section class="post">
			<div class="image main"><img src="{{ url_for('static', filename='images/PXL_20221225_225239861.jpg') }}" alt="Picture of the Ventura pier beach" /></div>
			<p>Welcome to the Ventura County Resource Center where we are putting vital,
				tangible and essential resources back in the hands of our community and
				Ventura county. </p>
			<p>Established by faith based organizations, churches and ministries
				throughout Ventura County, we aim to impact our well diverse multicultural
				family by providing our community with superior knowledge on how to
				sustain themselves during family, financial, emotional and mental crises,
				as well as providing resources through recession, gentrification and cost
				of living increases.</p>
			<p> With the physical and overwhelming support from our partners in the faith
				based organizations and community, our community center will help promote
				stability in many areas such as health, wellness and community support.</p>
			<blockquote> “We look forward to supporting you and your family at the
				Ventura County Resource Center.” - Bishop Lamant Chiles-Hayes, Director
				at the VC Resource Center.</blockquote>
		</section>
{% endblock %}
