{% extends "base.html" %}

{% block title %}Add post{% endblock %}
{% block header_title %}Add post{% endblock%}

{% block content %}
<form method="post">
    <div class="col-6 col-12-xsmall">
        <input type="text" id="post-title" name="post-title" placeholder="Title" value="">
    </div>
    <div class="col-6 col-12-xsmall">
        <input type="text" id="post-subtitle" name="post-subtitle" placeholder="Subtitle" value="">
    </div>
    <div>
        {{ ckeditor.create() }}
    </div>
    <div class="col-6 col-12-xsmall">
        <input type="file" id="post-image" name="post-image">
        <input type="text" id="post-image-alt" name="post-image-alt" placeholder="Accessibility description for image">
    </div>
    <div class="col-6 col-12-xsmall">
        <input type="text" id="address-url" name="address-url" placeholder="Copy the address URL">
    </div>
    <div class="col-6 col-12-xsmall">
        <input type="text" id="post-address" name="post-address" placeholder="Address">
        <select name="vendor-needed" id="vendor-needed">
            <option value="True">Vendors Needed</option>
            <option value="False">Vendors Not Needed</option>
        </select>
    </div>
    <input type="submit" class="primary" value="Create post">
</form>
{% endblock %}