{% extends "base.html" %}

{% block title %}Donate{% endblock %}
{% block header_title %}Donate{% endblock %}
{% block tab3 %}<li class="active">{% endblock %}

{% block content %}
	<!-- Page -->
	<header class="major">
				<h1>Donations</h1>
	</header>

	<!-- Text stuff -->
				<p>On this page you can donate any amount or donate according to specific tier levels.
				You will find the sponsorship tiers in the table below. Donations are secure and
				confidential and there are plenty of payment methods in order to create ease of donation.</p>

			<!-- Table -->
				<div class="table-wrapper">
					<table>
						<thead>
							<tr>
								<th>Tier Level</th>
								<th>Description</th>
								<th>Price</th>
								<th>Link</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>General donation</td>
								<td>None</td>
								<td>$5 and above</td>
								<td><a href="https://donate.stripe.com/eVa14TcYR3vw1YAdQQ" target="_blank" rel="noopener noreferrer">Donate</a></td>
							</tr>
							<tr>
								<td>Religious Sponsorship</td>
								<td>One booth with table and chairs at Community Resource Day<br>
								On site signage with logo and church name placed at entry gate<br>
								VCRC Website advertising for three months</td>
								<td>$200</td>
								<td><a href="https://buy.stripe.com/5kAdRF7Ex2rs0UwcMN" target="_blank" rel="noopener noreferrer">Donate</a></td>
							</tr>
							<tr>
								<td>Bronze Level Sponsorship</td>
								<td>8 Banquet Tickets <br>Half page color ad in program book.</td>
								<td>$1,500</td>
								<td><a href="https://buy.stripe.com/7sIcNB0c56HI46I7su" target="_blank" rel="noopener noreferrer">Donate</a></td>
							</tr>
							<tr>
								<td>Silver Level Sponsorship</td>
								<td>Full-page color ad in program book <br>
									1 Reserved tables for 8 at the Community Honors Awards Banquet. <br>
									On Site signage placed at the entry gate on 12-9-2023</td>
								<td>$2,500</td>
								<td><a href="https://buy.stripe.com/4gw5l98IB0jk32E3ch" target="_blank" rel="noopener noreferrer">Donate</a></td>
							</tr>
							<tr>
								<td>Gold Level Sponsorship</td>
								<td>Full-page color ad in program book <br>
									1 Reserved table for 4 seats at the Community Honors Awards Banquet <br>
									On Site signage placed at the entry gate on 12-9-2023 <br>
									Logo and link on the Ventura County Resource Center Website for 6 months.</td>
								<td>$5,000</td>
								<td><a href="https://buy.stripe.com/4gw8xl8IB7LMfPqdQU" target="_blank" rel="noopener noreferrer">Donate</a></td>
							</tr>
							<tr>
								<td>Platinum Level Sponsorship</td>
								<td>Full-page color ad in program book<br>
									2 Reserved tables for 8 seats at the Community Honors Awards Banquet<br>
									On Site signage placed at the entry gate on 12-9-2023<br>
									Logo and link on the Ventura County Resource Center Website for 9 months.</td>
								<td>$10,000</td>
								<td><a href="https://buy.stripe.com/aEU14Tf6Z5DE9r28wz" target="_blank" rel="noopener noreferrer">Donate</a></td>
							</tr>
						</tbody>
					</table>
					</div>
{% endblock %}