{% extends "base.html" %}

{% block title %}{{ post_data.title }}{% endblock %}
{% block header_title %}Full Post{% endblock %}

{% block content %}
	<!-- Post -->
		<section class="post featured">
			<header class="major"><h1 style="text-align:center;">{{ post_data.title }}</h1></header>
			<div class="image main"><img src="{{ post_data.image }}" alt="{{ post_data.alt }}" /></div>
			<p>{{ post_data.content_body_post }}<br>
			{% if post_data.hours and post_data.address %}
			<b>When:</b> {{ post_data.hours }}<br>
			<b>Where:</b> <a href="{{ post_data.address_url }}" target="_blank" rel="noopener noreferrer">{{ post_data.address }}</a></p>
			{% endif %}
			{% if post_data.vendors_needed == "True" %}
			    <p>If you are a vendor, please download the following file and read the contents for full information.</p>
			    <a href="{{ url_for('static', filename=post_data.vendor_files) }}" download="Vendor Files" class="button">Download</a>
			{% endif %}
		</section>
{% endblock %}