{% extends "base.html" %}

{% block title %}VC Resource Center{% endblock %}
{% block header_title %}Home{% endblock %}
{% block tab1 %}<li class="active">{% endblock %}

{% block content %}
	<div>
		<h2>Thank you to our sponsors!</h2>
		<div class="sponsor-container" id="sponsorContainer"></div>
	</div>
	<div>
        <h2>Events</h2>
            {% set i = 0 %}
            <!-- Posts -->
		      <section class="posts">
				  {% for event in events %}
                  {% if i <= 2 %}
			    <article class="blog-card">
				  <header>
					  <span class="date">{{ event.pretty_date }}</span>
					  <h4> {{ event.title }}</h4>
				  </header>
				  <a><img class="image fit" style="height:305px;" src="{{ event.image }}" alt="{{ event.alt }}" /></a>
				  <p>{{ event.content_body }}</p>
				  <ul class="actions special">
					<li><a href="{{ url_for('get_full_post', id_num=event.post_id) }}" class="button">Full Post</a></li>
				  </ul>
			    </article>
                  {% set i = i + 1 %}
		{% endif %}
		{% endfor %}
		     </section>
    </div> <hr>
    <div>
        <h3>Consider donating</h3>
        <h4>If you appreciate our efforts to better unite our community, please donate
        to keep our organization going.</h4>

    </div>
{% endblock %}