{% extends "base.html" %}

{% block title %}VC Resource Center{% endblock %}
{% block header_title %}Get Involved{% endblock %}
{% block tab1 %}<li class="active">{% endblock %}

{% block content %}
	{% for event in events %}
	{% if event.date > today %}
	<!-- Posts -->
		<section class="posts">
			<article>
				<header>
					<span class="date">{{ event.pretty_date }}</span>
					<h2> {{ event.title }}</h2>
				</header>
				<a class="image fit"><img src="{{ event.image }}" alt="{{ event.alt }}" /></a>
				<p>{{ event.content_body }}</p>
				<ul class="actions special">
					<li><a href="{{ url_for('get_full_post', id_num=event.id) }}" class="button">Full Post</a></li>
				</ul>
			</article>
		{% endif %}
		{% endfor %}
		</section>
{% endblock %}