{% extends "base.html" %}

{% block title %}Sponsors{% endblock %}
{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='assets/css/sponsors.css') }}" />
{% endblock %}

{% block tab6 %}<li class="active">{% endblock %}

{% block header_title %}Sponsors{% endblock %}

{% block content %}
<div>
    <h2>Thank you to our sponsors!</h2>
    <h3>Disclaimer</h3>
    <p>VCRC is a community support and resource non-profit organization and does not
        endorse or evaluate the advertised product, services or company, nor any of
        the claims made by paid advertisers. </p>
    <p>Paid advertisers views claims, logos, etc. are solely published with no
        guarantee of completeness, accuracy or results. We encourage all viewers to
        perform their own due diligence related to advertisers.</p>
    <div id="sponsorContainer" class="sponsor-container">
    </div>
</div>
{% endblock %}


{% block scripts %}
<script src="{{ url_for('static', filename='assets/js/sponsors.js') }}"></script>
{% endblock %}